.titulo-header{
    font-size: 32px;
    font-family: 'Anton', sans-serif;
    color: green;
  }

@media (min-width: 700px) {
  .titulo-header{
    font-size: 80px;
    font-family: 'Anton', sans-serif;
    color: white;
  }
}